@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Desyrel';
    src: url('fonts/subset-Desyrel.woff2') format('woff2'),
        url('fonts/subset-Desyrel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General styles */

body {
    padding-top: 0;
    background: #213c3d;
    color: #213c3d;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

h2 {
    font-weight: 600;
}

.btn-primary {
    color: #fff;
    background: #213c3d;
    border: #213c3d 1px solid;
    /* Code for ease-in-out effect from Code Institute: https://github.com/Code-Institute-Solutions/resume-miniproject-bootstrap4/tree/master/07-adding-hover-css */
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #498082;
    border: #213c3d 1px solid;
}

/* Nav */

.navbar-img {
    height: 100px;
}

.navbar-img-sm {
    height: 75px;
}

.navbar-title {
    text-decoration: none;
}

.title,
.title-comp {
    font-family: 'Desyrel', sans-serif;
    color: #213c3d;
}

.title-comp {
    width: 50px;
}

.nav-link {
    color: #213c3d;
    font-family: 'Desyrel', sans-serif;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.nav-link:hover {
    color: #498082;
}

.navbar-toggler {
    color: #213c3d;
    border: none;
}

/* Primary Image */

.primary-image-container {
    padding: 0;
    position: relative;
}

/* Fade-in effect from: https://blog.hubspot.com/website/css-fade-in */

.primary-image {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Quotes Carousel */

#carousel-quotes {
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 200px;
    top: 50%;
    margin-top: -100px;
}

#carousel-quotes .carousel-item {
    height: 200px;
}

/* Code for vertically centred caption from: https://stackoverflow.com/questions/27279865/how-to-vertically-center-a-bootstrap-carousel-caption */

#carousel-quotes .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

#carousel-quotes .quote {
    font-size: 14px;
    color: #fff;
    font-style: italic;
    margin-bottom: 6px;
}

#carousel-quotes .quote-customer {
    font-size: 10px;
    color: #fff;
    margin-bottom: 6px;
}

/* Quotes Carousel - XL XXL */

#carousel-quotes-xl {
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 360px;
    top: 50%;
    margin-top: -180px;
}

#carousel-quotes-xl .carousel-item {
    height: 360px;
}

/* Code for vertically centred caption from: https://stackoverflow.com/questions/27279865/how-to-vertically-center-a-bootstrap-carousel-caption */

#carousel-quotes-xl .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

#carousel-quotes-xl .quote {
    font-size: 20px;
    color: #fff;
    font-style: italic;
    margin-bottom: 12px;
}

#carousel-quotes-xl .quote-customer {
    font-size: 14px;
    color: #fff;
    margin-bottom: 12px;
}

/* Packages */

ul.package-list {
    list-style: none;
    padding-left: 0;
}

.package-box {
    text-align: center;
    width: 200px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

#silver-box {
    border-color: silver !important;
}

#gold-box {
    border-color: #D4AF37 !important;
}

#platinum-box {
    border-color: #A5A5A4 !important;
}

#silver-heading,
#gold-heading,
#platinum-heading {
    width: 200px;
    position: absolute;
    left: 0;
}

#silver-heading {
    background: linear-gradient(#eeeeee, silver);
}

#gold-heading {
    background: linear-gradient(#fcf6ba, #D4AF37);
}

#platinum-heading {
    background: linear-gradient(#ddd, rgb(165, 164, 164));
}

.package-text {
    position: relative;
    top: 50px;
}


/* Games */

/* Fade-out effect adapted from: https://blog.hubspot.com/website/css-fade-in with reference to https://www.w3schools.com/css/css3_animations.asp */

.carousel-games .carousel-caption {
    background: rgba(0, 0, 0, 0.7);
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.games-text li {
    list-style: none;
    font-weight: bold;
}

/* Form */

input[type=checkbox] {
    accent-color: #213c3d;
}

/* Footer */

a.social-link {
    color: #213c3d;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

a.social-link:hover {
    color: #498082;
}